*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: var(--color_dark);
  background: #fff;
  overflow-x: hidden;
  line-height: 1.7;
}

a {
  text-decoration: none;
}
